*****************************************************
*                                                   *
* DRILL TAPE SUMMARY REPORT                         *
*                                                   *
* C:\PROJECTS\RAGOBOTS_HW\ROBOT\HW\ANT2\ANT2-3.MAX  *
* Tue Dec 20 21:41:36 2005                          *
*                                                   *
*****************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       236      2        200      100                                                                                 
