****************************************************************************
*                                                                          *
* DRILL TAPE SUMMARY REPORT                                                *
*                                                                          *
* C:\PROJECTS\RAGOBOTS_HW\ROBOT\HW\NECK.DISPLAY\DESIGN\NECK_DISPLAY-5.MAX  *
* Wed May 03 17:26:10 2006                                                 *
*                                                                          *
****************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       80       296      200      100                                                                                 
T2       200      12       200      100                                                                                 
T3       220      8        200      100                                                                                 
T4       291      16       200      100                                                                                 
T5       433      3        200      100                                                                                 
